<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block body %}
<body>
    <div class="container">
        {% include 'inc/header.html.twig' %}
        {% block content %}
            {% block page_title %}{% endblock %}
        {% endblock %}
        {% include 'inc/footer.html.twig' %}
    </div>
</body>
{% endblock %}
{% block javascripts %}{% endblock %}
</html>