{% extends 'index.html.twig' %}
{% block title %}О нас{% endblock %}
{% block content %}
    {% block page_title %}<h1>О нас</h1>{% endblock %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet commodi culpa dolore doloribus natus
    necessitatibus nulla repellendus sed totam! Ad autem delectus ducimus exercitationem in magnam nobis perferendis
    voluptatem!
    </div>
    <div>Aliquam amet, asperiores at atque doloribus earum et eveniet fugiat ipsam, iure, laboriosam magni minima nihil
        obcaecati quidem ratione repellendus unde voluptatem. Aperiam est ipsam mollitia possimus quis, rerum suscipit.
    </div>
    <div>Accusamus accusantium ad aut autem blanditiis commodi cumque delectus dignissimos ducimus est eum excepturi
        expedita facilis id ipsam laborum minus nisi, obcaecati, quia quod rem tempora tempore temporibus ullam voluptates.
    </div>
    <div>Animi dicta error eveniet exercitationem facere illo iure laborum numquam optio quae, repellat sequi, tenetur
        totam? Aliquid at beatae, ea et eum fugit incidunt magni provident quod recusandae repellendus vero.
    </div>
    <div>Aspernatur cum dolores dolorum iusto molestias, nesciunt nostrum quas qui quisquam similique, tenetur vel! Adipisci
        commodi doloremque, ea earum error ex excepturi mollitia numquam! Alias architecto commodi modi rem vel?
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem cumque debitis deserunt dolor, earum eveniet
        fuga hic inventore natus neque nesciunt nihil pariatur qui reprehenderit repudiandae tempore voluptatem
        voluptates.
    </div>
    <div>Aliquid beatae blanditiis cumque dolore doloribus dolorum esse eum id magnam necessitatibus, obcaecati, quaerat
        quisquam sapiente sit tempora. Aperiam eius impedit ipsum molestiae odio porro quam quibusdam reiciendis sunt
        tenetur.
    </div>
{% endblock %}


